@import 'variables';
h1 {
    color: $red-color;
}
h2 {
    color: orange;
}

.card{
    min-height: 100%;
    transition: all ease 0.5s;
    &:hover{
        opacity: 0.9;
        transform: translateY(-10px);
    }
}

.card-item{
    height: $height-image;
    object-fit: cover;
}

.course__desc{
    padding-bottom: 20px;
}

#actions{
    width: 240px;
    margin: 0 24px;
}

input[type="checkbox"]{
    transform: scale(1.2);
}